.ArticlePage{
  min-height: 100%;
}

.sortWrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search{
  margin-top: 15px;
}

.articleList{
  margin-top: 30px;
}
.tabs{
  margin-top: 16px;
}