.LoginForm{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
}
input{
  margin-top: 10px;
  width: 100%;
}
.loginButton{
  margin-top: 15px;
  margin-left: auto;
  padding: 20px;
  background-color: blue;
  color: #00ff00;
}
