.app.dark{
  --bg-color: #0e0e75; // background
  --inverted-bg-color: #ffffff; // navbar background color
  --primary-color: #00ff00; // title for example
  --secondary-color: #098909; // description for example

  --inverted-primary-color: #0365c5; // title for example
  --inverted-secondary-color: #0730d1; // description for example



  // articles

  // skeleton
  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;


  // color
  --code-bg: #01afff // background code element in article
}